{% extends 'index.html' %}

{% block content %}
  <main class="col-12 d-flex align-items-center justify-content-center py-3 px-2 py-md-5">
    <form action="{% url 'edicao' %}" method="post" class="col-12 col-md-6 col-lg-4 bg-white border p-4 rounded">
      {% csrf_token %}
      <h2 class="w-100 text-center fs-4 mb-1">Edição</h2>
      <p class="w-100 text-center form-text mb-5">Altere a informação desejado e ao final, clique em 'Atualizar'</p>


      <div class="input-group d-flex flex-column align-items-start">
        <label for="">Usuário</label>
        <input type="text" class="w-100 form-control mt-2 rounded" id="id_user_confirme_password" name="" value="{{ user.username }}" readonly />
      </div>
      <div class="input-group d-flex flex-column align-items-start">
        <label for="id_user_confirme_pascentersword">Primeiro nome:</label>
        {{ formEdit.first_name }}
      </div>
      <div class="input-group d-flex flex-column align-items-start">
        <label for="id_user_confirme_pascentersword">Sobre nome:</label>
        {{ formEdit.last_name }}
      </div>
      <div class="input-group d-flex flex-column align-items-start">
        <label for="id_user_confirme_pascentersword">E-mail:</label>
        {{ formEdit.email }}
      </div>

      {% if form_signUp.errors %}
        <p class="w-100 text-start text-danger">Formulário inválido. Verifique os campos e tente novamente.</p>
      {% endif %}
      <button type="submit" class="btn d-block mx-auto text-white bg-black px-3 py2 mt-5">Atualizar</button>
    </form>
  </main>
{% endblock %}
